@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:ital,wght@1,100;1,200&display=swap");
.card {
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
}
.container-title {
  width: 15rem;
  height: 3.3rem;
}
.card-title {
  font-family: "Raleway", sans-serif;
  color: #5e3d9f;
  font-size: 1rem;
  letter-spacing: 1.4px;
  text-align: center;
}
.card-body {
  width: 15rem;
  height: 22rem;
  margin: 15px 15px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.4px;
  background-color: whitesmoke;
  text-align: center;
  align-items: center;
  border: 1px solid;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
}
.card-img {
  width: 15rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 160px;
  text-align: center;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.card-button {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Staatliches", cursive;
  padding: 12px 50px 12px 50px;
  outline: none;
  letter-spacing: 3px;
  font-size: 1.2rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 2px #f32013;
  margin: auto;
  border-radius: 4px;
}
.card-button:hover {
  background-color: chocolate;
}

.container-diets {
  font-family: sans-serif;
  font-size: 15px;
  width: 15rem;
  height: 3.3rem;
}
.faStar {
  color: rgb(14, 0, 0);
}
.faStar:hover {
  color: gold;
}
.faFav {
  color: gold;
}
.container-health {
  font-family: "Courier New", Courier, monospace;
}
